

<div class="navbar-fixed">
    <nav style="background-color:#b2406a">

        <div class="nav-wrapper container">
            <a href="#" data-activates="navsidebar" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            <ul class="right hide-on-med-and-down">
                <li><i class="material-icons">search </i></li>
                <li>
                    <form method='get' id='searchform' style='height:50px; padding-top:10px' action='/search/?l=hi'>
                        <input name='q' id="search" type="search" placeholder="search"  style='font-size:16px'>
                    </form>
                </li>
                <% if (sendObj.sessionVal.cognitoId){%>
                <li><h6 style="padding-top:15px; color:darkgrey ">Hello <%= sendObj.sessionVal.name%> </h6></li>
                <%  } %>
                <li><a href="/">Home</a></li>
                <li><a href="/IMDB250/"> IMDB top 250 </a></li>
                <% if (!sendObj.sessionVal.cognitoId){%>
                <li><a href="/login/">Log in</a></li>
                <% } else {%>
                <li><a href="/logout/">Log Out</a></li>
                <% }%>
            </ul>
        </div>

    </nav>
</div>
