
<!--
  Partial file: head.ejs

  -->




<!--
    palette:
    dark blue: #003F72
    yellow: #FFD166
    salmon: #EF476F
    offwhite: #e7d7d7
    Light Blue: #118AB2
    Light green: #7DDF64
    -->

<meta name="viewport" content = "width=device-width, initial-scale=1.0">
<title> Cinewitter </title>

<meta name="description" content="Describe a movie in a line or maximum 100 charaters. Write once,edit again.">

<link rel="shortcut icon" href="/public/images/Taxi-Driver-icon.png">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/public/stylesheets/materialize.min.css">


<!-- Compiled and minified CSS -->

<!-- Compiled and minified JavaScript -->

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>



<style>
    @media (min-width:992px) {
        #aside {
            width: 250px;
        }

        pre {
            tab-size: 4;
        }

        .btn {
            background-color: #FFD166;
            color: #000;
            height: auto;
            font-color: #000;
        }

        .btn:hover {
            background-color: #FFD166;
        }
    }
</style>
